name: pr

on:
  push:
    branches:
      - ${{ github.event.repository.default_branch }}
  workflow_dispatch:

jobs:
  hello:
    runs-on: self-hosted
    steps:
      - name: Print hello
        shell: pwsh
        run: |
          pwd
