name: pr

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: build
        shell: powershell -ExecutionPolicy Bypass -Command "{0}"
        env:
          UE_ROOT: ${{ vars.UE_ROOT }}
          WORKDIR: ${{ vars.WORKDIR }}
        run: |
          Set-Location "G:\$WORKDIR"
          pwd
          git pull
          .\Scripts\BuildObriy.bat -Actions PackArchive -Configuration Development
