name: pr

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: build
        shell: powershell -ExecutionPolicy Bypass -Command "{0}"
        run: |
          $repoName = ($env:GITHUB_REPOSITORY -split '/')[1]
          Set-Location "G:\$repoName"
          pwd
          .\Scripts\BuildObriy.bat
