name: pr

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  hello:
    runs-on: self-hosted
    steps:
      - name: Print hello
        shell: powershell
        run: |
          pwd
